{% extends 'includes/main.html' %}
  {% block title %}
    Overview of the Greenhouse - Produce
  {% endblock %}
  {% block body_class %}details{% endblock %}
  {% block extracss %}
    <link rel="stylesheet" href="/css/detail.css">
  {% endblock %}
{% block body %}
<main class="detailsPage">
  <a href="/" class="back">
    <svg width="100%" height="100%" viewBox="0 0 434 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M217,0l216.506,125l0,250l-216.506,125l-216.506,-125l0,-250l216.506,-125Z" style="fill:#333;"/><text x="143.641px" y="272.531px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:64px;fill:#fff;">Back</text></g></svg>
  </a>
  <section class="content">
    <h1>The greenhouse - The produce!</h1>
    {% include 'includes/plantroom.html' %}
    <div class="data">
      <section>The lettuce's where last harvested on  <span id="lettuceHarvest"></span>, which yieled a total of <span id="lettuceYield"></span>KG. <br/></section>
      <section>The herbs where last harvested on  <span id="herbsHarvest"></span>, which yieled a total of <span id="herbsYield"></span>KG. <br/></section>
      <section>The lettuce's where last harvested on  <span id="flowersHarvest"></span>, which yieled a total of <span id="flowersYield">KG. </section>
    </div>
  </section>
  <aside class="description">
    <img src="/img/greenhouse.jpg">
    <p>The greenhouse is the key to recycling nutrients at De Ceuvel. The greenhouse at De Ceuvel produces vegetables and herbs for Cafe de Ceuvel using a closed-loop aquaponics system combining fish and vegetable production.</p>
    <p>The fish excretes are broken down into nutrients for the plants, and the plants provide a natural filter for the water the fish live in. Aquaponics is thus based on the natural symbiosis between plant and water life. Inputs include primarily local nutrients like worms from our composting bins, and struvite from our struvite reactor, produced by men's urine from the Café. In the future, we will be experimenting with algae and insect production.</p>
  </aside>
</main>
{% endblock %}