{% extends 'includes/main.html' %}
  {% block title %}
    Compost Toilets
  {% endblock %}
  {% block body_class %}details{% endblock %}
  {% block extracss %}
    <link rel="stylesheet" href="/css/detail.css">
  {% endblock %}
{% block body %}
<main class="detailsPage">
  <a href="/" class="back">
    <svg width="100%" height="100%" viewBox="0 0 434 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><g><path d="M217,0l216.506,125l0,250l-216.506,125l-216.506,-125l0,-250l216.506,-125Z" style="fill:#333;"/><text x="143.641px" y="272.531px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:64px;fill:#fff;">Back</text></g></svg>
  </a>
  <section class="content">
    <h1>Compost Toilets</h1>
    {% include 'includes/restroom.html' %}
    <div class="data">
      <section>Fish: 1</section>
      <section>Temp: 23</section>
      <section>Foo: Bar</section>
    </div>
  </section>
  <aside class="description">
    <img src="/img/restroom.png">
    <p>Due to the pollution of de Ceuvel grounds, it was impossible to dig in order to lay a sewage system. Instead, each boat on De Ceuvel is equipped with a compost toilet. Waste is collected and pre-composts in the toilets before it is brought to our tumbling composter for further composting.</p>
    <p>While conventional flushing toilets produce wastewater discharged to the sewer, dry toilets do not use water for flushing and produce solid compost. Because reusing human waste comes with risks, we have conducted research on the quality of these fertilizers on different parameters, such as metals, pathogens and medicine residues, and which treatment steps and production methods can be applied to best harvest the nutritional value.</p>
    <p>*NB The Café and the Crossboat do have standard flush toilets installed</p>
  </aside>
</main>
{% endblock %}