:root {
  --defaultBlack: #333333;
  --seperatorBorderWidth: .3rem;
  --shipHullMargin: -14vh;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: sans-serif;
  font: 100%/1.6rem;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.readmore {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 2s all;
  width: 100%;
  z-index: 1;
}

/* .readmore:hover {
  background-color: rgba(0, 0, 0, .5)
} */

.readmore svg {
  height: 7.5rem;
  position: absolute;
  user-select: none;
  width: 7.5rem;
  z-index: -1;
}

/* Ship */

.shipContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95%;
  padding-top: calc(var(--shipHullMargin) * -1);
  position: relative;
  width: 80%;
  z-index: 1;
}

.shipBody {
  user-select: none;
  height: 50%;
  margin-top: var(--shipHullMargin);
  position: relative;
  width: 100%;

}

.shipRooms {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 3fr 1fr;
  height: 70%;
  width: 90%;
}

.shipDeck {
  background-color: #ACACAC;
  grid-column: 2 / span 3;
  grid-row: 4;
}

/* Fish Section */

.fish {
  align-items: flex-end;
  background-color: #F0EDFF;
  border-top: .9rem solid var(--defaultBlack);
  border: var(--seperatorBorderWidth) solid var(--defaultBlack);
  display: flex;
  grid-column: 1;
  grid-row: 3 / span 4;
  justify-content: center;
  position: relative;
}

.fish::after {
  background-image: url('/img/hopper.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: -3px;
  position: absolute;
  top: -5px;
  width: 101%;
}

.fishTank {
  align-items: flex-end;
  background-color: #C6E5EC;
  border-left: var(--seperatorBorderWidth) solid var(--defaultBlack);
  border-right: var(--seperatorBorderWidth) solid var(--defaultBlack);
  display: flex;
  height: 80%;
  width: 70%;
}

.fishTank .water {
  background-color: #3EA3BA;
  height: 70%;
  width: 100%;
}

/* Restroom */

.restroom {
  align-items: flex-end;
  background: #F3C6FF url('/img/tiles.png') repeat;
  background-size: 50%;
  border-right: var(--seperatorBorderWidth) solid #8a5434;
  border-top: var(--seperatorBorderWidth) solid #8a5434;
  display: flex;
  grid-column: 2;
  grid-row: 3 / 4;
  position: relative;
}

.restroom .toilet {
  filter: drop-shadow( -1px 0 2px rgba(0, 0, 0, .25));
  height: 50%;
  width: 40%;
}

/* Restaurant */

.restaurant {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  grid-column: 3;
  grid-row: 3;
  justify-content: flex-end;
  position: relative;
}

.restaurant .chair {
  margin-bottom: -1px;
  width: 20%;
}

.restaurant .table {
  margin: 0 .4em;
  width: 50%;
}

/* Plant Section */

.plantsContainer {
  background-color: #FFCBA8;
  border: var(--seperatorBorderWidth) solid var(--defaultBlack);
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1 / 3;
  position: relative;
  z-index: 1;
}

.plantsContainer::after {
  background-image: url('/img/shipSolarPanels.svg');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 5.5rem;
  left: 0;
  position: absolute;
  top: -5.8rem;
  width: 100%;
  z-index: -1;
}

.plantsContainer .row {
  border-bottom: 1rem solid #AC9583;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  height: 50%;
  padding: 0 1rem;
  width: 100%;
}

.plantsContainer .row:first-child {
  padding-left: 1rem;
}

.plantsContainer .row:last-child {
  padding-right: 1rem;
}

.plantsContainer .plant {
  margin-bottom: -1rem;
}

/* River */

.riverWater {
  bottom: -5rem;
  position: absolute;
  width: 100vw;
}

.riverWater.frontLayer {
  background: url('/img/waterLayer-1.svg') repeat-x;
  height: 25%;
  opacity: .75;
  z-index: 3;
}

.riverWater.middleLayer {
  background-image: url('/img/waterLayer-2.svg');
  background-size: cover;
  height: 35%;
  opacity: .55;
  z-index: 2;
}

.riverWater.backLayer {
  background: url('/img/waterLayer-3.svg') repeat-x;
  height: 45%;
}

.scalingSvg {
    z-index: 999 !important;
}

@keyframes present {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 1;}
    100% {opacity: 1;}
  }

@keyframes scaleUp {
    0% {
        transform: scale(15);
        top: 50%;
        left: 50%;
    }
    100% {      
        top: 0%;
        left: 0%;
    }
}
