{% extends 'includes/main.html' %}
  {% block title %}
    haha-SCHOOl-zwemmen
  {% endblock %}
  {% block extracss %}
    <link rel="stylesheet" href="/css/detail.css">
  {% endblock %}
{% block body %}
<main class="detailsPage">
  <section>
    <h1>What does the fish say? Blub</h1>
      {% include 'includes/fishtank.html' %}
    </section>
  <aside>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsum voluptas aperiam nihil, voluptate quas alias voluptatum
      quis expedita! Mollitia, accusantium quasi animi corporis maxime eaque quaerat ut ullam ipsum?</p>
  </aside>
</main>
{% endblock %}