{% extends "includes/main.html" %} {% block title %} This is the homepage {% endblock %} {% block body %}
<main >
<nav class="shipContainer" data-transition="sailOut">
  <div class="shipRooms">
    {% include 'includes/plantroom.html' %}
    {% include 'includes/fishtank.html' %}
    {% include 'includes/restroom.html' %}
    {% include 'includes/restaurant.html' %}
    <section class="shipDeck"></section>
  </div>
  <section class="shipBody">
    <img src="./img/shipBody.svg">
  </section>
</nav>
<div class="riverWater frontLayer"></div>
<div class="riverWater middleLayer"></div>
<div class="riverWater backLayer"></div>
</main>
{% endblock %}